<!doctype html>

<head>
<title>My Holiday Diary</title>

<!-- Bootstrap Core CSS -->
	<link rel="stylesheet" href="/css/bootstrap.css" rel="stylesheet"> 
<!-- Custom CSS -->
<link rel="stylesheet" href="assets/styles/main.css">
<link href='https://fonts.googleapis.com/css?family=Poiret+One|Indie+Flower|Permanent+Marker' rel='stylesheet' type='text/css'>
</head>

<body>
	<h1>My Holiday Diary</h1>
	<p> Thank you for sharing your holiday. You went to #{@destination}.</p>
</body> 